@model IEnumerable<UHabitacional_Web.Models.Inquilino>

@{
    ViewData["Title"] = "Inquilinos Page";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Inquilinos</li>
    </ol>
</nav>
<div>
    <h1 class="display-6 mb-5">Inquilinos</h1>
    <div class="container">
        <div class="row justify-content-end mb-5">
            <a class="w-25 btn btn-outline-success" asp-controller="Inquilino" asp-action="Create">
                <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                </svg> Nuevo inquilino
            </a>
        </div>
        @if (Model == null || !Model.Any())
        {
            <div class="row justify-content-center">
                <img class="w-25" src="~/images/sin-datos.png" alt="Sin datos" />
                <p class="mb-0 mt-3 h3 text-center text-body-tertiary">No se encontraron datos</p>
            </div>
        }
        else
        {
            <div class="row justify-content-center g-5">
                <div class="col-12">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Edificio</th>
                                <th>Departamento</th>
                                <th>Fecha inicio</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">
                                        <button type="button" class="btn btn-primary inquilino-details" data-id="@item.UsuarioId" data-bs-target="#inquilinoDetails">
                                            @Html.DisplayFor(modelItem => item.UsuarioId)
                                        </button>
                                    </th>
                                    <td>
                                        @($"{item.Usuario.Nombre} {item.Usuario.ApellidoPaterno}")
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Departamento.Edificio.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Departamento.NumeroInt)</td>
                                    <td>
                                        @item.FechaInicio.ToString("dd/MM/yyyy")
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="inquilinoDetails" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel">
</div>